<div class="panel panel-info">

    <div class="panel-body">
        <form role="form" method="post">
            <div class="form-group">
                <label>Ad</label>
                <input class="form-control" name="messages[name]" type="text" value="{{ message.name }}">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" name="messages[email]" type="text" value="{{ message.email }}">
            </div>
            <div class="form-group">
                <label>Mesaj</label>
                <textarea class="form-control" rows="3" name="messages[message]">{{ message.message }}</textarea>
            </div>
            <div class="form-group">
                <select class="form-control"  name="messages[status]">
                    <option value="true"> True</option>
                    <option value="false"> False</option>
                </select>
            </div>


            <button type="submit" class="btn btn-info">Kaydet </button>

        </form>
    </div>
</div>