{% extends 'adminbase.html.twig' %}

{% block title %}New messages{% endblock %}

{% block content %}
    <h1>Create new messages</h1>

    {{ include('admin/messages/_form.html.twig') }}

    <a href="{{ path('admin_messages_index') }}">back to list</a>
{% endblock %}
