{% extends 'base.html.twig' %}

{% block title %}New Shopcarts{% endblock %}

{% block body %}
    <h1>Create new Shopcarts</h1>

    {{ include('shopcarts/_form.html.twig') }}

    <a href="{{ path('shopcarts_index') }}">back to list</a>
{% endblock %}
